.about-container{
    padding: 100px 0;
    text-align: center;
}

.about-container img{
    border-radius: 50%;
    width: 30%;
}
.about-container h1{
    color: #212806;
    font-size: 3rem;
}
.about-container p{
    font-size: 1.6rem;
    margin: 20px 0;
}

.about-icons-container{
margin-bottom: 25px;
}
.btn-cv{
    border: 1px solid #212806 !important;
    color: #212806 !important;
    font-size: 15px !important;
    width: 10rem;
}

.btn-cv:hover{
    background-color: #000;
    border: 1px solid #E5D9CA;
    color: #E5D9CA;
    text-decoration: none !important;
    transition: 0.3s;
}

.about-container a{
    text-decoration: none;
}
