.contact{
    padding: 300px 0 200px 0;
}
.contact span{
    color: #646561;
    font-size: 18px;
    margin-left: 5px;
}


.text-field{
    background-color: transparent;
    border: 1px solid rgb(149, 149, 149);
    border-radius:5px;
    padding: 15px;
    width: 100%;
}

.text-field:hover{
    border: 1px solid rgb(31, 31, 31);
}

input:focus, textarea:focus {
    outline: none !important;
    border:1px solid rgb(49, 49, 49);
    box-shadow: 0 0 3px #d9dde1;
  }