.footer-basic {
    padding:20px 0;
    background-color:#d7cab8;
    color:#272828;
  }
  
  .footer-basic .social {
    text-align:center;
  
  }

  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid rgb(130, 127, 127);
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:18px;
    color:rgb(112, 110, 110);
    margin-bottom:0;
  }